<center>
    <div class="container-fluid" style="align-self: center;border: 1px solid;background-color: rgba(204,204,204,0.5);width: 400px;">
        <div class="container-fluid">
            <ul id="gestion" class="estilosV" style="align-self: inherit;text-decoration: double;font-size:medium;font-family: 'Courier New', Courier, monospace;">
                <li ng-click="obtenerSeleccionada(0)">
                    <b>Vista de accidentes generales registrados</b>
                </li>

                <li ng-click="obtenerSeleccionada(1)" >
                    <b>Vista de accidentes que involucran heridos</b>
                </li>

                <li ng-click="obtenerSeleccionada(2)">
                    <b>Vista de accidentes que involucran fallecidos</b>
                </li>

                <li ng-click="obtenerSeleccionada(3)">
                    <b>Visualizar la cantidad de accidentes generales por cada tipo de accidentes </b>
                </li>
                <li ng-click="obtenerSeleccionada(4)">
                    <b>Visualizar la cantidad de accidentes generales por cada estado del tiempo registrado</b>
                </li>
                <li ng-click="obtenerSeleccionada(5)">
                    <b>Visualizar la causa mayor de accidentes generales por provincia</b>
                </li>
            </ul>
        </div>
    </div>

</center>