<center>
<div style="background-color: rgb(255,255,255);">

<div class="container-fluid" style="padding-top: 5%;display: flex;">
    <div class="container-fluid" style="order: 1; margin-left: 10%">
        <label style="font-size: x-large"> Seleccione la provincia a la que pertenece el distrito </label>

        <select class="form-control" id="selec" style="font-size: medium;width: 300px;" ng-click="seleccionarCantones()">
            <option  ng-repeat="x in provincias" > {{x.model}}</option>
        </select>

    </div>
    <div class="container-fluid" style="order: 2;">
        <label style="font-size: x-large"> Seleccione el cantón al que pertenece el distrito </label>
        <br>
        <select class="form-control" id="selecc" style="font-size: medium;width: 300px;" ng-click="seleccionarDistritos()">
            <option ng-repeat="x in cantones " > {{x.model}}</option>
        </select>

        <br>
    </div>
</div>
<center>
    <div class="container-fluid">

        <label style="font-size: x-large"> Seleccione el distrito a eliminar </label>
        <br>
        <select class="form-control" id="selecD" style="font-size: medium;width: 300px;">
            <option ng-repeat="x in distritos " > {{x.model}}</option>
        </select>

        <br>
        <br>

        <button class="btn btn-info" ng-click="eliminarDistrito()"> Eliminar distrito </button>
        <br><br>
    </div>
</center>

</div>
</center>