<center>

    <div style="padding-top: 10%">
        <label style="font-size: x-large"> Sección de eliminación de provincias </label>
        <br>
        <br>
        <label style="font-size: x-large"> Provincias Registradas </label>
        <br>
        <select class="form-control" id="selec" style="font-size: medium;width: 300px;">
            <option ng-repeat="x in provincias "> {{x.model}}</option>
        </select>
        <br>

        <br>
        <button class="btn btn-info" ng-click="eliminarProvincia()"> Eliminar Provincia </button>

    </div>
</center>