<center>

    <div style="background-color: rgb(255,255,255);padding-top: 8%">
        <label style="font-size: x-large"> Descipciones de calzada Registradas </label>
        <br>

        <select class="form-control" id="selec" style="font-size: medium;width: 300px;">
            <option ng-repeat="x in registrados "> {{x.model}}</option>
        </select>
        <br>
        <br>
        <button class="btn btn-info" ng-click="eliminarDescripcionCalzada()"> Eliminar descripcion de calzada </button>
        <br><br>
    </div>
</center>