<center>
    <div class="container-fluid" style="align-self: center;border: 1px solid;background-color: rgba(204,204,204,0.5);width: 700px;">
        <div class="container-fluid">
            <ul id="gestion" class="estilosV" style="align-self: inherit;text-decoration: double;font-size: x-large;font-family: 'Courier New', Courier, monospace;">
                <li ng-click="obtenerSeleccionada(0)">
                    <b>Insertar una nueva descripción de calzada</b>
                </li>

                <li ng-click="obtenerSeleccionada(1)" >
                    <b>Modificar una descripción de calzada existente</b>
                </li>

                <li ng-click="obtenerSeleccionada(2)">
                    <b>Eliminar una descripcion de calzada existente</b>
                </li>

                <li ng-click="obtenerSeleccionada(3)">
                    <b>Visualizar las descripciones de calzada registradas </b>

                </li>

            </ul>

        </div>
    </div>

</center>