<center>
    <label style="font-size: x-large"> Secció de inserción de accidentes con Fallecidos </label>
    <br>
    <label style="font-size: x-large"> Seleccione las opciones requeridas </label>
</center>

<div class="container-fluid" style="padding-top:2%;display: flex;">
    <div class="container-fluid" style="order: 1; margin-left: 10%">
        <label style="font-size: x-large">  Tipo de Accidente </label>

        <select class="form-control" id="tipo" style="font-size: medium;width: 300px;" ng-click="seleccionarCantones()">
            <option  ng-repeat="x in tiposAccidentes" > {{x.model}}</option>
        </select>

        <label style="font-size: x-large">  Fecha del accidente </label>
        <div class="input-group" style="width: 100px;">
            <div class="input-group-addon">
                <i class="fa fa-calendar">
                </i>
            </div>
            <input  class="form-control" id="date1"  name="date1" type="date"/>
        </div>

        <label style="font-size: x-large">  Edad de la persona accidentada </label>
        <input type="number" id="edad" >

        <label style="font-size: x-large"> Seleccione el sexo de la persona accidentada </label>
        <br>

        <select class="form-control" id="sexo" style="font-size: medium;width: 300px;" >
            <option > Masculino</option>
            <option > Femenino </option>
        </select>

        <label style="font-size: x-large">  Hora de inicio del accidente </label>
        <input type="time" id="horaInicio" value="00:00:00" max="24:00:00" min="00:00:00" step="1" >


    </div>
    <div class="container-fluid" style="order: 2;">

        <label style="font-size: x-large"> Rol de la persona accidentada </label>
        <select class="form-control" id="rol" style="font-size: medium;width: 300px;" ng-click="seleccionarCantones()">
            <option  ng-repeat="x in roles" > {{x.model}}</option>
        </select>

        <label style="font-size: x-large"> Provincia donde ocurrió el accidente </label>
        <select class="form-control" id="prov" style="font-size: medium;width: 300px;" ng-click="cargarCantones()">
            <option  ng-repeat="x in provincias" > {{x.model}}</option>
        </select>

        <label style="font-size: x-large"> Cantón donde ocurrió el accidente </label>
        <select class="form-control" id="cant" style="font-size: medium;width: 300px;" >
            <option  ng-repeat="x in cantones" > {{x.model}}</option>
        </select>

        <label style="font-size: x-large"> Ruta en la que ocurrió el accidente </label>
        <select class="form-control" id="ruta" style="font-size: medium;width: 300px;" >
            <option  ng-repeat="x in rutas" > {{x.model}}</option>
        </select>

        <label style="font-size: x-large">  Hora de fin del accidente </label>
        <input type="time" id="horaFinal" value="00:00:00" max="24:00:00" min="00:00:00" step="1" >
        <br>
    </div>
</div>
<center>
    <div class="container-fluid">

        <button class="btn btn-info" ng-click="insertarAccidente()"> Registrar Accidente </button>

    </div>
</center>